/* homepage part*/

body:before {
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(images/index_background.png) center 0 no-repeat;
    background-size: cover;
}

body.homepage {
    font-family: Helvetica, Tahoma, Arial, serif;
    background: url(images/index_background.png) no-repeat fixed center 0;
    z-index: -1;
}

h1.homepage {
    padding: 6rem 0 6rem;
    max-width: 100%;
    background-color: rgba(0,0,0,0.3);
    font-size: 5rem;
    line-height: 5.5rem;
    color: lightgrey;
    text-align: center;
    position: fixed;
    top:35%;
    left: 0;
    right: 0;
}

/* universal */

footer {
    color: lightgrey;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
